# Project 4. "Tardigrades: from genestealers to space marines". Eukaryotic genome analysis.

Lab notebook by Nikita Vyatkin and Polina Guseva

In [ ]:
def show_file_content(path, lines=10, headers_only=False):
    if headers_only:
        ! mkdir -p temp
        ! touch temp/show_file_content.tmp
        ! grep '>' {path} > temp/show_file_content.tmp
        path = "temp/show_file_content.tmp"
    
    ! head -{lines} {path}
    print("...")
    ! tail -{lines} {path}
    
    if headers_only:
        ! rm {path}


def count_seqs(path):
    res = ! grep '>' {path} | wc -l
    print(f"Total: {res[0]} sequencies")

## Data source

For this project we will be using a sequence of the _Ramazzottius varieornatus_, the YOKOZUNA-1 strain (sequenced in the University of Tokyo and named after the highest rank in professional sumo).

One can download assembled genome [here](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz)

In [ ]:
! wget -P data/ https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! gunzip data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! mv data/GCA_001949185.1_Rvar_4.0_genomic.fna data/Ramazzottius_varieornatus.fna

--2022-12-06 21:27:58--  https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
Resolving ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)... 130.14.250.7, 130.14.250.10, 2607:f220:41e:250::10, ...
Connecting to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|130.14.250.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17621408 (17M) [application/x-gzip]
Saving to: ‘data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz’

GCA_001949185.1_Rva 100%[===================>]  16.80M  37.2MB/s    in 0.5s

2022-12-06 21:27:58 (37.2 MB/s) - ‘data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz’ saved [17621408/17621408]

In [ ]:
! ls -lh data

total 54M
-rw-r--r-- 1 root root 54M Jan 12  2017 Ramazzottius_varieornatus.fna

In [ ]:
show_file_content("data/Ramazzottius_varieornatus.fna")
count_seqs("data/Ramazzottius_varieornatus.fna")

>BDGG01000001.1 Ramazzottius varieornatus DNA, contig: Scaffold001, strain: YOKOZUNA-1, whole genome shotgun sequence
TGCTGCGACATACTCGAAACACCCAAGGTCTTACCGGGAGAATATCGTCGTCTGGAGGATTTGTATGGGCCATTGTGATG
GCCGCTACCTGGCATTGTACAACTTGAATGGTTGGTCTGAGCGGGACATGATCGACAGGTGGGCTTTGATGGTGACACTT
TTGGTGCCGCCGGCATTCCTTCTGCCCGCACGTGACATCGACAACCTCTTGACTGCCGGCCATGAAACCTCACCCCAAAC
AGGTATTCAGTGGGCAGAAAAAGCTACAAAAATCCTATCGCACGGGAATAAGTCCGTGCTAAACTAGTTAGAGCGACTTT
TGAAAGGAAGATGTAGAGTTTAGTTCATTGGAGTAATCAAGTCTTCGGTTAgtttcgtgacgtcacgattGATCCGTATG
GTGAAGCGTCTGAGCACAGAGTTTTCTTATTTTTCAACAGGTGGGAGCGACGTCATGAGCGAGTATGTGACGCCCTTCTG
TTACGTCTGTGATTCTCTCGTGGATGCCGACTGCCGAGAATCGCAAGACTGGATGCCTCGACGAAGAAACGGCttaagga
agaaagtgatgTGGACAGGCCAAGGGGAGGACGATCATGGCAGACTTGCCTTCGACTGGAAAGAAGTCTACATtcggctg

In [ ]:
show_file_content("data/Ramazzottius_varieornatus.fna", lines=3, headers_only=True)

In [ ]:
count_seqs("data/Ramazzottius_varieornatus.fna")

## Functional annotation

One can download AUGUSTUS results [here](https://drive.google.com/file/d/1wBxf6cDgu22NbjAOgTe-8b3Zx60hNKY0/view?usp=drive_web).

[Script](http://augustus.gobics.de/binaries/scripts/getAnnoFasta.pl) for GFF to FASTA converting.

In [ ]:
! gdown 17qOqOfZTX4sdyqbDS_56PMBOxlXED7-Q
! mv augustus.whole.gff /content/data

In [ ]:
! wget http://augustus.gobics.de/binaries/scripts/getAnnoFasta.pl

--2022-12-06 21:37:21--  http://augustus.gobics.de/binaries/scripts/getAnnoFasta.pl
Resolving augustus.gobics.de (augustus.gobics.de)... 134.76.74.142
Connecting to augustus.gobics.de (augustus.gobics.de)|134.76.74.142|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6679 (6.5K) [text/x-perl]
Saving to: ‘getAnnoFasta.pl’

getAnnoFasta.pl     100%[===================>]   6.52K  --.-KB/s    in 0s

2022-12-06 21:37:21 (187 MB/s) - ‘getAnnoFasta.pl’ saved [6679/6679]

In [ ]:
! ls -lhR

.:
total 48K
drwxrwxr-x 2 nikitos nikitos 4,0K дек  5 18:27 data/
-rw-rw-r-- 1 nikitos nikitos 6,6K дек  5 18:27 getAnnoFasta.pl
-rw-rw-r-- 1 nikitos nikitos  33K дек  5 18:33 Lab_Notebook.ipynb

./data:
total 81M
-rw-rw-r-- 1 nikitos nikitos 27M дек  5 18:21 augustus.whole.gff
-rw-rw-r-- 1 nikitos nikitos 54M янв 12  2017 Ramazzottius_varieornatus.fna

In [ ]:
! chmod +x getAnnoFasta.pl

In [ ]:
! mkdir annotation

In [ ]:
! ./getAnnoFasta.pl data/augustus.whole.gff
! mv data/augustus.whole.aa annotation/

In [ ]:
show_file_content("annotation/augustus.whole.aa")
count_seqs("annotation/augustus.whole.aa")

16435

## Physical localization

In [ ]:
! gdown 1fdygieAACE0VBCddh7TwJw6PfYT8DeUV 
# how can i direct upload my data into a folder in one line of code?
! mv peptides.fa /content/data

In [ ]:
show_file_content("data/dna_associated_peptides.fa", lines=6)
count_seqs("data/dna_associated_peptides.fa")

>1
VFSALDVLR
>2
SPLQTDEIR
>3
AATGAVLSSADSR
>4
LLDDENDYELK
>5
VTGSSQGAINQQQAK

In [ ]:
with open('annotation/augustus.whole.aa') as overall:
  overall = overall.read()

val, key, dick = [], 'remove', {}

for i in overall.split():
  if i.startswith('>'):
    dick[key] = ''.join(val)
    key, val = i, []
  else:
    val.append(i.strip())
    
dick[key] = ''.join(val)
dick.pop('remove')

"""
proteins = []

with open('annotation/augustus.whole.aa', 'r') as f_in:
  for line in f_in:
    line = line.strip()
    if line.startswith('>'):
      proteins.append((line[1:], []))
    elif line:
      proteins[-1][1].append(line)
  
  for protein in proteins:
    protein[1] = ''.join(protein[1])

proteins # or dict(proteins)
"""

''

In [ ]:
import re
with open('data/peptides.fa') as numbers:
  numbers = numbers.read()

reads = re.split('>.+', numbers)[1:]
reads = [i.split()[0] for i in reads]

In [ ]:
import pandas as pd
orig = pd.DataFrame.from_dict({'names': dick.keys(),
                               'org': dick.values()})
orig.head()

    names                                                org
0  >g1.t1  AATYSKHPRSYRENIVVWRICMGHCDGRYLALYNLNGWSERDMIDR...
1  >g2.t1  MTFAVTVATTSQSCAIAFDVFWLTTIKLFFIAKYFGSEFTPFDKVQ...
2  >g3.t1  MLDKAKLVLLNKGGRPSIRSAEDGWKVFSDSLLCRASSDGRVFIGK...
3  >g4.t1  MFSKNADSYKLDDNRLSGQTIYRTNPTQQEVKWERMKDTLKARRSR...
4  >g5.t1  MRSLGIRQRQLSFQEYEGERNELKERHGFGETILPNGDRYRGYYEH...

In [ ]:
ours = pd.DataFrame(data={'our': reads})
ours.head()

               our
0        VFSALDVLR
1        SPLQTDEIR
2    AATGAVLSSADSR
3      LLDDENDYELK
4  VTGSSQGAINQQQAK

In [ ]:
print(len(orig), len(ours), len(orig) * len(ours))

16435 43 706705

In [ ]:
a = orig.merge(ours, how='cross')

In [ ]:
a.columns

Index(['names', 'org', 'our'], dtype='object')

In [ ]:
a = a[a[['org','our']].apply(lambda x: x[1] in x[0], axis=1)]
a

,names,org,our
30160,>g702.t1,MKCLIVFSAFVASALAANGDQQPKVWDALNVLRGKDALFADQIQEL...,SSSSSSQESQSSSSQVR
30177,>g702.t1,MKCLIVFSAFVASALAANGDQQPKVWDALNVLRGKDALFADQIQEL...,VVEQTGASSSR
30178,>g702.t1,MKCLIVFSAFVASALAANGDQQPKVWDALNVLRGKDALFADQIQEL...,SSSSSSQESQSSSSQVR
55235,>g1285.t1,MKGLIVVLGLVTVASATSLYRIRRANGDQQPKVWDALNKLRGKDPI...,QFQDYSNSR
55239,>g1285.t1,MKGLIVVLGLVTVASATSLYRIRRANGDQQPKVWDALNKLRGKDPI...,QFQDYSNSR
...,...,...,...
651563,>g15153.t1,MKCLVVLSALVAVAYAANGDQNPKVFSALDVLRGKTPLQTDQIREI...,QFQDYSNSR
651575,>g15153.t1,MKCLVVLSALVAVAYAANGDQNPKVFSALDVLRGKTPLQTDQIREI...,QFQDYSNSR
665800,>g15484.t1,MAHSNNPLDLNGTSFDPDQYLRKVLTEEALPDLIEHEIEMQQQIKS...,SGEQAMVDAK
665801,>g15484.t1,MAHSNNPLDLNGTSFDPDQYLRKVLTEEALPDLIEHEIEMQQQIKS...,SSTTTSTMNAAK
665802,>g15484.t1,MAHSNNPLDLNGTSFDPDQYLRKVLTEEALPDLIEHEIEMQQQIKS...,TTTTTGTTGTSGTTMPPK

## Localization prediction

### 4a. WoLF PSORT

In [ ]:
with open('found_proteins.fasta', 'w') as found:
  for i in range(len(a)):
    print(a['names'].iloc[i], file=found)
    print(a['org'].iloc[i], file=found)

just upload this file into Wolf

In [ ]:
! gdown 175jN1SPLp0GmE2Drphdf4F9xlpppmVpz

Downloading...
From: https://drive.google.com/uc?id=175jN1SPLp0GmE2Drphdf4F9xlpppmVpz
To: /content/wolf_output.txt
100% 2.90k/2.90k [00:00<00:00, 4.33MB/s]

this is a copypasted output from the first UNDETAILED page

In [ ]:
with open('wolf_output.txt') as wolfout:
  wolfout = wolfout.read()

In [ ]:
b = wolfout.split(' details ')
b_names = [b[0]] + [i.split()[-1] for i in b[1:-1]]
b_vals = [''.join(i.split()[:-1]).split(',') for i in b[1:-1]] + [''.join(b[-1].split()).split(',')]
comp = set([j.split(':')[0] for i in b_vals for j in i])

In [ ]:
index_x = list(comp)
import numpy as np
c = np.zeros((len(b_names), len(index_x)))

In [ ]:
for i in range(len(b_names)):
  for j in b_vals[i]:
    j = j.split(':')
    c[i, index_x.index(j[0])] = float(j[1])

In [ ]:
pd.DataFrame(c, columns=index_x, index=b_names)#.sum()

nucl          154.50000
cyto          107.00000
cyto_mito      20.49999
cyto_nucl      99.49990
mito           93.00000
lyso           50.00000
golg           12.00000
extr         1327.00000
pero            4.00000
E.R._golg      19.00000
plas          196.00000
E.R.           38.00000
cysk            1.00000
dtype: float64

### 4b. TargetP 1.1 Server

Upload the same *.fasta file and download a prediction summary

In [ ]:
! gdown 1tzfqGhYvc-8NRqKEzqCNbwr-GUSh1mdo

Downloading...
From: https://drive.google.com/uc?id=1tzfqGhYvc-8NRqKEzqCNbwr-GUSh1mdo
To: /content/output_protein_type.txt
100% 4.05k/4.05k [00:00<00:00, 6.08MB/s]

In [ ]:
pd.read_table('output_protein_type.txt')

,ID,Prediction,OTHER,SP,mTP,CS Position
0,g702.t1,SP,0.000347,0.999652,0.000001,CS pos: 16-17. ALA-AN. Pr: 0.8153
1,g702.t1,SP,0.000347,0.999652,0.000001,CS pos: 16-17. ALA-AN. Pr: 0.8153
2,g702.t1,SP,0.000347,0.999652,0.000001,CS pos: 16-17. ALA-AN. Pr: 0.8153
3,g1285.t1,SP,0.003029,0.996798,0.000173,CS pos: 16-17. ASA-TS. Pr: 0.7127
4,g1285.t1,SP,0.003029,0.996798,0.000173,CS pos: 16-17. ASA-TS. Pr: 0.7127
...,...,...,...,...,...,...
57,g15153.t1,SP,0.000014,0.999986,0.000000,CS pos: 16-17. AYA-AN. Pr: 0.8378
58,g15153.t1,SP,0.000014,0.999986,0.000000,CS pos: 16-17. AYA-AN. Pr: 0.8378
59,g15484.t1,OTHER,0.999980,0.000010,0.000010,NaN
60,g15484.t1,OTHER,0.999980,0.000010,0.000010,NaN
61,g15484.t1,OTHER,0.999980,0.000010,0.000010,NaN

## BLAST search